<form (ngSubmit)="onFormSubmit()" #signupForm="ngForm">

    <div class="form-group">
      <label for="name">Name</label>
      <input  type="text"
              class="form-control"
              [(ngModel)]="user.name"
              name="name"
              required
              (input)="checkName()"
              #name="ngModel">
      <span   class="help-block"
              *ngIf="!properName && name.touched">The username is not valid / has been taken!</span>
    </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input  type="text"
            class="form-control"
            [(ngModel)]="user.email"
            name="email"
            required
            email
            (input)="checkMail()"
            #email="ngModel">
    <span   class="help-block"
            *ngIf="!properMail && email.touched">The email-adress is not valid / has been taken!</span>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input  type="password"
            class="form-control"
            [(ngModel)]="user.password"
            name="password"
            required
            min="6"
            max="10"
            #password="ngModel">
    <span   class="help-block"
            *ngIf="!password.valid && password.touched">Please enter your password!</span>
  </div>

  <div class="form-group">
    <label for="retype">Retype your password</label>
    <input  type="password"
            class="form-control"
            [(ngModel)]="retype"
            name="retype"
            min="6"
            max="10"
            required>
    <span   class="help-block"
            *ngIf="!retype.valid && retype.touched && retype==password">Please enter your password!</span>
  </div>

  <button   type="submit"
            name="button"
            [disabled]="!signupForm.valid">Register</button>

</form>

<button   type="button"
          name="button"
          routerLink="/login">Back to login</button>
